<div class="footer">
    <div class="container" >
      <footer class="py-3">
        <div class="row" >
          <div class="col-6 col-md-2 mb-3 ">
            <h5 class="text-secondary">ABOUT</h5>
            <ul class="nav flex-column">
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white ">About Us</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white ">Contact Us</a></li>
            </ul>
          </div>
          <div class="col-6 col-md-2 mb-3" style="border-right: 1px solid whitesmoke;">
            <h5 class="text-secondary">SOCIAL</h5>
            <ul class="nav flex-column">
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white "><img src="https://img.icons8.com/ios-glyphs/20/ffffff/facebook-new.png"/> Facebook</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white "><img src="https://img.icons8.com/ios-glyphs/20/ffffff/twitter--v1.png"/> Twitter</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white "><img src="https://img.icons8.com/ios-glyphs/20/ffffff/youtube-play.png"/> YouTube</a></li>
            </ul>
          </div>
    
          <div class="col-9 col-md-2 mb-3" >
            <h5 class="text-secondary">Mail Us:</h5>
            <ul class="nav flex-column">
              Toll Free(India):<br> 
              1800 209 4545<br>
              Available from:<br>
               8 am to 8 pm IST
              <br>
              <hr>
              International: <br>
              +91 22 6752 5899<br>
              Available from:<br> 
              2:30 am to 2:30 pm GST
            </ul>
          </div>
    
          <div class="col-md-4 offset-md-1 ">
            <h5 class="text-secondary">Registered Office Address:</h5>
            <div class="p-0 text-white">
            Plot No. EL-200,TTC Electronic Zone Shil Phata - Mahape Road Kopar Khairane,<br>
            MIDC Industrial Area, Mahape, Navi Mumbai, <br>
            Maharashtra-400710<br>
            Telephone: 022 6795 4545<br>
            Send us a mail: infodesk@larsentoubro.com
            </div>
          </div>
    
        <div class="d-flex flex-column flex-sm-row justify-content-between py-1 my-1 border-top">
          <p>&copy; 2022 ShoppersPAARK.com, Inc. All rights reserved.</p>
        </div>
        </div>

      </footer>
      </div>
      </div>
