    <div class="card mb-3 shadow-lg p-1 bg-body rounded" style="height:auto; margin-right: 10px; ">
        <h5 class="text-center"> Product Details</h5>
        <table class="table align-middle mb-0 bg-white">
            <thead class="bg-light">
                <tr>
                    <th>Product</th>
                    <th>ProductId</th>
                    <th>Category</th>
                    <th>Quantity</th>
                    <th>RetailerId</th>
                    <th>Approve</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <div class="d-flex align-items-center">
                            <img src="https://mdbootstrap.com/img/new/avatars/8.jpg" alt=""
                                style="width: 75px; height: 75px" class="" />
                            <div class="ms-3">
                                <p class="fw-bold mb-1">Brand</p>
                                <p class="text-muted mb-0">ProductName</p>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="ms-1">101
                        </div>
                    </td>
                    <td>Phones</td>
                    <td>50</td>
                    <td>1001</td>
                    <td>
                        <button type="button" class="btn btn-success">Approve</button>
                    </td>
                    <td><button type="button" class="btn btn-primary">Delete</button></td>
                </tr>
                <tr>
                    <td>
                        <div class="d-flex align-items-center">
                            <img src="https://mdbootstrap.com/img/new/avatars/8.jpg" alt=""
                                style="width: 75px; height: 75px" class="" />
                            <div class="ms-3">
                                <p class="fw-bold mb-1">SamsungM31</p>
                                <p class="text-muted mb-0">Features</p>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="ms-1">101
                        </div>
                    </td>
                    <td>Phones</td>
                    <td>50</td>
                    <td>1001</td>
                    <td>
                        <button type="button" class="btn btn-success">Approve</button>
                    </td>
                    <td><button type="button" class="btn btn-primary">Delete</button></td>
                </tr>
                <tr>
                    <td>
                        <div class="d-flex align-items-center">
                            <img src="https://mdbootstrap.com/img/new/avatars/8.jpg" alt=""
                                style="width: 75px; height: 75px" class="" />
                            <div class="ms-3">
                                <p class="fw-bold mb-1">SamsungM31</p>
                                <p class="text-muted mb-0">Features</p>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="ms-1">101
                        </div>
                    </td>
                    <td>Phones</td>
                    <td>50</td>
                    <td>1001</td>
                    <td>
                        <button type="button" class="btn btn-success">Approve</button>
                    </td>
                    <td><button type="button" class="btn btn-primary">Delete</button></td>
                </tr>
                <tr>
                    <td>
                        <div class="d-flex align-items-center">
                            <img src="https://mdbootstrap.com/img/new/avatars/8.jpg" alt=""
                                style="width: 75px; height: 75px" class="" />
                            <div class="ms-3">
                                <p class="fw-bold mb-1">SamsungM31</p>
                                <p class="text-muted mb-0">Features</p>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="ms-1">101
                        </div>
                    </td>
                    <td>Phones</td>
                    <td>50</td>
                    <td>1001</td>
                    <td>
                        <button type="button" class="btn btn-success">Approve</button>
                    </td>
                    <td><button type="button" class="btn btn-primary">Delete</button></td>
                </tr>
                <tr>
                    <td>
                        <div class="d-flex align-items-center">
                            <img src="https://mdbootstrap.com/img/new/avatars/8.jpg" alt=""
                                style="width: 75px; height: 75px" class="" />
                            <div class="ms-3">
                                <p class="fw-bold mb-1">SamsungM31</p>
                                <p class="text-muted mb-0">Features</p>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="ms-1">101
                        </div>
                    </td>
                    <td>Phones</td>
                    <td>50</td>
                    <td>1001</td>
                    <td>
                        <button type="button" class="btn btn-success">Approve</button>
                    </td>
                    <td><button type="button" class="btn btn-primary">Delete</button></td>
                </tr>
            </tbody>
        </table>
    </div>