<div class="container bg shadow-lg mb-5 rounded">
    <div class="row g-0">
        <div class="col-md-5 text-white p-3" style="background: #302b63">
            <h3>User Login</h3>
            <br>
            <h6>Get access to your Orders, Wishlist and Recommendations.</h6>
            <img src="./assets/images/userLogin.png" class="img-fluid rounded" alt="...">
        </div>
        <div class="col p-5">
            <form #userlogForm="ngForm" (ngSubmit)="userLogin()">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput" required ngModel name="userId" 
                    #userId="ngModel" placeholder="Enter User Id" [(ngModel)]="us.userId"> 
                <label for="floatingInput">Enter User Id</label>
                <div class="alert alert-danger" *ngIf="(userId.dirty || userId.touched) && userId.invalid">
                    Please enter userId.
                </div>
            </div>
            <div class="form-floating mb-3">
                <input type="password" class="form-control" id="floatingInput" placeholder="Enter Password" required name="password" 
                #password="ngModel" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" [(ngModel)]="us.password">
                <label for="floatingInput">Enter Password</label>
                <div class="alert alert-danger" *ngIf="password.invalid && (password.dirty || password.touched)">
                    <div *ngIf="password.errors?.['required']">Enter password</div>
                    <div *ngIf="password.errors?.['pattern']">Invalid password.(Please ensure that your password must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters )</div>
                </div>
            </div>
            <button type="submit" class="btn p-2 text-white" style="width:100%;font-size:20px; background-color:#ffab00;" name="login"><b>Login</b></button>
            <br>
            <br>
            <h6 style="color:#0091ea ;">New to ShoppersPAARK? <a [routerLink]="['/signup']" style="color:#0091ea ;">Create an account.</a>
            </h6>
        </form>
        </div>
    </div>
</div>