<div class="container">
    <div class="card mb-3 shadow-lg p-3 bg-body">
        <div class="row ">
            <div class="col">
                <div class="row p-1">
                    <img src="./assets/images/miss_Image.png" class="img-fluid" alt="..."
                        style="width:auto;height:auto;">
                </div>
                <div class="row p-1">
                    <h6><b>Add a product</b></h6>
                </div>
                <div class="row p-1">
                    <form>
                        <select class="form-select" name="brand">
                            <option selected value="null">Choose brand</option>
                            <option value="West Bengal">Addidas</option>
                        </select>
                    </form>
                </div>
                <div class="row p-1">
                    <form>
                        <select class="form-select" name="product">
                            <option selected value="null">Choose product</option>
                            <option value="West Bengal">Addidas Air Force</option>
                        </select>
                    </form>
                </div>
                <div class="row p-1">
                    <h6>Description</h6>
                </div>
                <div class="row p-1">
                    <button class="btn text-white p-2" type="submit"
                        style="background-color: #ff6f00;float: right;">Buy Now</button>
                </div>
            </div>
            &nbsp;

            <div class="col">
                <div class="row p-1">
                    <img src="./assets/images/miss_Image.png" class="img-fluid" alt="..."
                        style="width:auto;height:auto;">
                </div>
                <div class="row p-1">
                    <h6><b>Add a product</b></h6>
                </div>
                <div class="row p-1">
                    <form>
                        <select class="form-select" name="brand">
                            <option selected value="null">Choose brand</option>
                            <option value="West Bengal">Addidas</option>
                        </select>
                    </form>
                </div>
                <div class="row p-1">
                    <form>
                        <select class="form-select" name="product">
                            <option selected value="null">Choose product</option>
                            <option value="West Bengal">Addidas Air Force</option>
                        </select>
                    </form>
                </div>
                <div class="row p-1">
                    <h6>Description</h6>
                </div>
                <div class="row p-1">
                    <button class="btn text-white p-2" type="submit" style="background-color: #ff6f00;float: right;">Buy
                        Now</button>
                </div>
            </div>
            &nbsp;

            <div class="col">
                <div class="row p-1">
                    <img src="./assets/images/miss_Image.png" class="img-fluid" alt="..."
                        style="width:auto;height:auto;">
                </div>
                <div class="row p-1">
                    <h6><b>Add a product</b></h6>
                </div>
                <div class="row p-1">
                    <form>
                        <select class="form-select" name="brand">
                            <option selected value="null">Choose brand</option>
                            <option value="West Bengal">Addidas</option>
                        </select>
                    </form>
                </div>
                <div class="row p-1">
                    <form>
                        <select class="form-select" name="product">
                            <option selected value="null">Choose product</option>
                            <option value="West Bengal">Addidas Air Force</option>
                        </select>
                    </form>
                </div>
                <div class="row p-1">
                    <h6>Description</h6>
                </div>
                <div class="row p-1">
                    <button class="btn text-white p-2" type="submit" style="background-color: #ff6f00;float: right;">Buy
                        Now</button>
                </div>
            </div>
            &nbsp;

            <div class="col">
                <div class="row p-1">
                    <img src="./assets/images/miss_Image.png" class="img-fluid" alt="..."
                        style="width:auto;height:auto;">
                </div>
                <div class="row p-1">
                    <h6><b>Add a product</b></h6>
                </div>
                <div class="row p-1">
                    <form>
                        <select class="form-select" name="brand">
                            <option selected value="null">Choose brand</option>
                            <option value="West Bengal">Addidas</option>
                        </select>
                    </form>
                </div>
                <div class="row p-1">
                    <form>
                        <select class="form-select" name="product">
                            <option selected value="null">Choose product</option>
                            <option value="West Bengal">Addidas Air Force</option>
                        </select>
                    </form>
                </div>
                <div class="row p-1">
                    <h6>Description</h6>
                </div>
                <div class="row p-1">
                    <button class="btn text-white p-2" type="submit" style="background-color: #ff6f00;float: right;">Buy
                        Now</button>
                </div>
            </div>
        </div>
    </div>
</div>