
<div class="card mb-5 shadow-lg p-5 bg-body rounded">
    <h5>My Wishlist (10)</h5>
    <!--select count(*) from wishlist-->
    <hr>
    <div class="row ">
        <div class="col col-lg-2">
            <img src="./assets/images/HomeProducts/samsung.png" class="img-fluid" alt="..."
                style="width:150px;height:150px;">
            <!--productImage-->
        </div>
        <div class="col">
            <div class="row">
                <h5>SAMSUNG Galaxy F22 (Denim Blue, 128 GB)  (6 GB RAM)</h5>
                <!--productName-->
                <br>
                <p class="text-muted">(300)</p>
                <!--availableQuantity-->
            </div>
            <div clas="row">
                <h4>₹ 12,000
                    <!-- discountedPrice--> 
                    <span class="text-muted " style="font-size: 15px;"><s>₹ 15,000</s> <!--price--> </span>
                    <span style="font-size:15px;color: green;"> 23% Off<!--deal--></span>
                </h4>
            </div>
        </div>
        <div class="col">
                <button class="btn" type="submit" style="border-radius: 100px;float: right;">
                    <img src="https://img.icons8.com/ios-glyphs/30/b0bec5/filled-trash.png">
                </button>
        </div>
    </div>
</div>

