<nav class="navbar sticky-top navbar-expand-lg bg-dark navbar-dark shadow ">
    <div class="container-fluid">
        &nbsp;&nbsp;
        <a class="navbar-brand" href="#">
          <img src="./assets/images/Logo.png" style="width: 200px; height:50px"/>
          </a>
          <form class="d-flex">
            <input class="form-control me-2" type="text" placeholder="Search">
            <button class="btn" style="border: 1px solid #fffc00;" type="button"><img src="https://img.icons8.com/ios-glyphs/24/fffc00/search--v1.png"/></button>
          </form>  
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar" style="border: 1px solid#fffc00;">
        <span class="navbar-toggler-icon "></span>
      </button>

      <div class="collapse navbar-collapse" id="collapsibleNavbar">  
        <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                    <img src="https://img.icons8.com/ios/30/fffc00/user-male-circle.png"/>
                  </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" *ngIf="!result" [routerLink]="['/login']"><img src="https://img.icons8.com/ios/24/0f0c29/user-male-circle.png"/> Login</a></li>
                  <li><a class="dropdown-item" *ngIf="result" [routerLink]="['/user-dash',uid]"><img src="https://img.icons8.com/material-rounded/24/0f0c29/dashboard-layout.png"/> My Profile</a></li>
                  <li><a class="dropdown-item" *ngIf="result" [routerLink]="['/user-dash',uid]"><img src="https://img.icons8.com/ios-glyphs/24/0f0c29/shopping-cart--v1.png"/> My Orders</a></li>
                  <li><a class="dropdown-item" *ngIf="result" [routerLink]="['/user-dash',uid]"><img src="https://img.icons8.com/ios/24/0f0c29/like--v1.png"/> Wishlist</a></li>
                
                </ul>
              </li>
            <li class="nav-item">
                <a [routerLink]="['/retailer-signup']" class="nav-link text-white">
                  Become a Retailer
                </a>
              </li>
          <li class="nav-item">
            <a [routerLink]="['/home']" class="nav-link text-white">
                <img src="https://img.icons8.com/tiny-glyph/20/fffc00/experimental-home-tiny-glyph.png"/>
                Home
              </a>
            </li>
            <li class="nav-item">
              <a *ngIf="result" [routerLink]="['/cart']" class="nav-link text-white">
                <img src="https://img.icons8.com/ios-glyphs/24/fffc00/shopping-cart--v1.png"/>
                Cart
              </a>
            </li>
            <li class="nav-item">
              <a [routerLink]="['/admin-login']" class="nav-link text-white">
                <img src="https://img.icons8.com/glyph-neue/24/fffc00/admin-settings-female.png"/>
                Admin
              </a>
            </li>
        </ul>
    </div>
      </div>
  </nav>
  <ul class="nav justify-content-center shadow-sm p-1 mb-3 bg-body rounded">
    <li class="nav-item subCat">
      <a class="nav-link"  [routerLink]="['/products','mobile']" style="color:#0f0c29;">Mobiles</a>
    </li>
    <li class="nav-item subCat">
      <a class="nav-link" [routerLink]="['/products','men']" style="color:#0f0c29;">Men</a>
    </li>
    <li class="nav-item subCat">
      <a class="nav-link" [routerLink]="['/products','women']" style="color:#0f0c29;">Women</a>
    </li>
    <li class="nav-item subCat">
      <a class="nav-link" [routerLink]="['/products','electronics']" style="color:#0f0c29;">Electronics</a>
    </li>
    <li class="nav-item subCat">
      <a class="nav-link" [routerLink]="['/products','shoes']" style="color:#0f0c29;">Shoes</a>
    </li>
    <li class="nav-item subCat">
      <a class="nav-link " [routerLink]="['/products','home']" style="color:#0f0c29;">Home</a>
    </li>
    <li class="nav-item subCat">
      <a class="nav-link " [routerLink]="['/products','appliances']" style="color:#0f0c29;">Appliances</a>
    </li>
  </ul>