<div class="container bg shadow-lg mb-5 rounded">
    <div class="row g-0">
        <div class="col-md-5 text-white p-3" style="background: #302e35">
            <h3>Admin Login</h3>
    <br>
            <img src="./assets/images/adminLogin.png" class="img-fluid rounded" alt="...">
        </div>
        <div class="col p-5">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput" placeholder="Enter Admin Id" name="adminId">
                <label for="floatingInput">Enter Admin Id</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput" placeholder="Enter Password" name="password">
                <label for="floatingInput">Enter Password</label>
            </div>
            <button type="button" class="btn p-2 text-white" style="width:100%;font-size:20px; background-color:#302e35;" name="adminLogin"><b>Login</b></button>
            <br>
            <br>
            <h6 style="color:#0f0c29 ;">Not an admin? <a style="color:#0f0c29 ;" routerLink="/home">Go to Home Page.</a>
            </h6>
        </div>
    </div>
</div>