<div class="container bg shadow-lg mb-5 rounded">
    <div class="row g-0">
        <div class="col-md-5 text-white p-3" style="background: #0d3941">
            <h3>Retailer Login</h3>
            <br>
            <h6>Get access to your products, received orders and payments.</h6>
    <br><img src="./assets/images/retailer.jpg" class="img-fluid rounded" alt="...">
        </div>
        <!-- <div>
            {{message}}
        </div> -->
        <div class="col p-5" >
        <div class="form-floating mb-3">
            <form #loginForm="ngForm" (ngSubmit)="checkRetailerLogin()">
                <input type="number" class="form-control" name="userId" [(ngModel)]="login.retailerId" placeholder="Enter userId" required><br/>
                <br>
                
                <input type="password" class="form-control" name="'password" [(ngModel)]="login.retailerPassword" placeholder="Enter password" required><br/>
                <br>
                <button type="submit" class="btn p-2 text-white" style="width:100%;font-size:20px; background-color:#0d3941;" data-bs-toggle="modal" data-bs-target="#modalexample"  [disabled]=loginForm.invalid>Sign In</button>
            </form>
        </div>
        </div>
         <br>
            <br>
            <h6 style="color:#0f0c29 ;">Not a Retailer account? <a style="color:#0f0c29 ;" href="" [routerLink]="['/retailer-register']">Create an account.</a>
            </h6>
        </div>
        </div>
    
    <div class="modal fade" id="modalexample" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel"></h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              {{message}}
            </div>
            <div class="modal-footer">
              <a type="button" class="btn btn-primary" data-bs-dismiss="modal" [routerLink]="['/retailer-login']" >Close</a>
              
            </div>
          </div>
        </div>
      </div>