<div class="container justify-content-center align-text-center p-2" style="background-color: white">
    <div class="row g-0">
        <div class="col-md-4 ">  
            <div class="position-relative top-0 end-0 p-1">
                <button class="btn" type="submit" style="border-radius: 100px;">
                    <img src="https://img.icons8.com/ios-filled/40/b0bec5/like--v1.png" />
                </button>
            </div>
            <div class="row d-flex justify-content-center" >
                <img src="./assets/images/HomeProducts/samsung.png" class="img-fluid" alt="..."
                style="width:700px;height:500px;" >
            </div>
        </div>
        <!-- product image ^  -->
        <!-- product description -->
        <div class="col-md-8 p-3">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">User</a></li>
                    <li class="breadcrumb-item active" aria-current="page">User Profile</li>
                </ol>
            </nav>
            <div class="row">
                <h5 class="text-muted">SAMSUNG </h5>
            </div>
            <div class="row">
                <h4>SAMSUNG Galaxy F22 (Denim Blue, 128 GB) (6 GB RAM)</h4>
            </div>
            <div class="row">
                <small style="color: green;"><b>Special Price</b></small>
            </div>
            <div class="row">
                <h2>₹ 12,000
                    <!-- discountedPrice-->
                    <span class="text-muted " style="font-size: 18px;"><s>₹ 15,000</s>
                        <!--price-->
                    </span>
                    <span style="font-size:20px;color: green;"><b>23% Off</b>
                        <!--deal-->
                    </span>
                </h2>
            </div>
            <div class="row">
                    <h6 class="text-muted"><img src="https://img.icons8.com/material/24/ffab00/marker--v1.png"/>Deliver to</h6>
            </div>
            <div class="row">
            <div class="col-6">
                    <div class="form-floating">
                      <select class="form-select" id="floatingSelectGrid" aria-label="Floating label select example" name="state">
                        <option selected value="null">--Select Delivery Address</option>
                        <option value="add1">Mumbai-400025</option>
                    </select>
                    <label for="floatingSelectGrid">Delivery Address</label>
                  </div>
                </div>
            </div>
            <br>
            <div class="row">
                <h6 class="text-muted">
                Blue Color
                4 GB RAM | 64 GB ROM | Expandable Upto 1 TB
                16.76 cm (6.6 inch) Full HD+ Display
                50MP + 5MP + 2MP | 8MP Front Camera
                6000 mAh Lithium Ion Battery
                Exynos 850 Processor
            </h6>
            </div>
            <div class="row">
                <div class="col-3">
                    <button type="button " class="text-white btn p-3 " style="background-color:#ffab00;width:100%;"
                        name="addToCart">
                        <img src="https://img.icons8.com/ios-glyphs/25/ffffff/shopping-cart--v1.png"/>&nbsp;
                        <b>Add to Cart</b></button>
                </div>
                <div class="col-3">
                    <button type="button" class="text-white btn p-3 " style="background-color:#ff6d00;width:100%;"
                        name="buyNow">
                        <img src="https://img.icons8.com/fluency-systems-filled/25/ffffff/lightning-bolt.png"/>&nbsp;
                        <b>Buy Now</b></button>
                </div>
            </div>
        </div>
    </div>
    <!-- End of Product specific content -->
    <br>
    <!-- Similar products -->

    <div class="card mb-3 shadow-lg p-3 bg-body rounded" style="height:auto; ">
        <h4>Similar Products</h4> 
            <div class="position-absolute top-0 end-0 p-3">
            <button class="btn btn-primary p-2" type="submit" >
                VIEW ALL
            </button>
        </div>
        <hr style="color:grey;">
        <div class="row">
            <div class="col">
                <div class="card p-3 mb-5 bg-white rounded my-lst">
                    <div class="position-absolute top-0 end-0 p-1">
                        <button class="btn" type="submit" >
                            <img src="https://img.icons8.com/ios-filled/24/b0bec5/like--v1.png"/>
                        </button>
                    </div>
                    <div class="row d-flex justify-content-center">  
                            <img src="./assets/images/HomeProducts/samsung.png" class="img-fluid" alt="..."
                            style="width:150px;height:200px;">
                    </div>
                    <div class="row">
                        <h5>SAMSUNG </h5>
                    </div>
                    <div class="row">
                        <h5>SAMSUNG Galaxy F22 (Denim Blue, 128 GB) (6 GB RAM)</h5>
                    </div>
                    <div class="row">
                        <h5>₹ 12,000
                            <!-- discountedPrice-->
                            <span class="text-muted " style="font-size: 15px;"><s>₹ 15,000</s>
                                <!--price-->
                            </span>
                            <span style="font-size:15px;color: green;"> 23% Off
                                <!--deal-->
                            </span>
                        </h5>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card p-3 mb-5 bg-white rounded my-lst">
                    <div class="position-absolute top-0 end-0 p-1">
                        <button class="btn" type="submit" >
                            <img src="https://img.icons8.com/ios-filled/24/b0bec5/like--v1.png"/>
                        </button>
                    </div>
                    <div class="row d-flex justify-content-center">
                        <img src="./assets/images/HomeProducts/samsung.png" class="img-fluid" alt="..."
                            style="width:150px;height:200px;">
                    </div>
                    <div class="row">
                        <h5>SAMSUNG </h5>
                    </div>
                    <div class="row">
                        <h5>SAMSUNG Galaxy F22 (Denim Blue, 128 GB) (6 GB RAM)</h5>
                    </div>
                    <div class="row">
                        <h5>₹ 12,000
                            <!-- discountedPrice-->
                            <span class="text-muted " style="font-size: 15px;"><s>₹ 15,000</s>
                                <!--price-->
                            </span>
                            <span style="font-size:15px;color: green;"> 23% Off
                                <!--deal-->
                            </span>
                        </h5>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card p-3 mb-5 bg-white rounded my-lst">
                    <div class="position-absolute top-0 end-0 p-1">
                        <button class="btn" type="submit" >
                            <img src="https://img.icons8.com/ios-filled/24/b0bec5/like--v1.png"/>
                        </button>
                    </div>
                    <div class="row d-flex justify-content-center">
                        <img src="./assets/images/HomeProducts/samsung.png" class="img-fluid" alt="..."
                            style="width:150px;height:200px;">
                    </div>
                    <div class="row">
                        <h5>SAMSUNG </h5>
                    </div>
                    <div class="row">
                        <h5>SAMSUNG Galaxy F22 (Denim Blue, 128 GB) (6 GB RAM)</h5>
                    </div>
                    <div class="row">
                        <h5>₹ 12,000
                            <!-- discountedPrice-->
                            <span class="text-muted " style="font-size: 15px;"><s>₹ 15,000</s>
                                <!--price-->
                            </span>
                            <span style="font-size:15px;color: green;"> 23% Off
                                <!--deal-->
                            </span>
                        </h5>
                    </div>
                </div>
            </div>
            <div class="col">
              <div class="card p-3 mb-5 bg-white rounded my-lst">
                  <div class="position-absolute top-0 end-0 p-1">
                      <button class="btn" type="submit" >
                          <img src="https://img.icons8.com/ios-filled/24/b0bec5/like--v1.png"/>
                      </button>
                  </div>
                  <div class="row d-flex justify-content-center">
                      <img src="./assets/images/HomeProducts/samsung.png" class="img-fluid" alt="..."
                          style="width:150px;height:200px;">
                  </div>
                  <div class="row">
                      <h5>SAMSUNG </h5>
                  </div>
                  <div class="row">
                      <h5>SAMSUNG Galaxy F22 (Denim Blue, 128 GB) (6 GB RAM)</h5>
                  </div>
                  <div class="row">
                      <h5>₹ 12,000
                          <!-- discountedPrice-->
                          <span class="text-muted " style="font-size: 15px;"><s>₹ 15,000</s>
                              <!--price-->
                          </span>
                          <span style="font-size:15px;color: green;"> 23% Off
                              <!--deal-->
                          </span>
                      </h5>
                  </div>
              </div>
          </div>
        </div>
    </div>


</div>