<div class="card mb-3 shadow-lg p-4 mb-4 bg-body rounded">
  <h5 class="card-title">Add Product</h5>
  <hr>
  <form #addProductForm="ngForm" enctype="multipart/form-data" (ngSubmit)="addProductToProductTable()">
  <div class="row">
    <div class="col">
      <div class="form-floating mb-3">
        <input type="text" class="form-control" #productName=ngModel id="floatingInput" placeholder="Product Name" name="name" [(ngModel)]="product.productName">
        <label for="floatingInput">Product Name</label>
      </div>
    </div>
    <div class="col">
      <div class="form-floating">
        <input type="email" class="form-control" #brand=ngModel id="floatingPassword" placeholder="Brand" name="brand" [(ngModel)]="product.brand">
        <label for="floatingPassword">Brand</label>
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col">
      <div class="form-floating mb-3">
        <input type="number" class="form-control" #price=ngModel id="floatingInput" placeholder="Price" name="price" [(ngModel)]="product.price">
        <label for="floatingInput">₹ Price</label>
      </div>
    </div>
    <div class="col">
      <div class="form-floating">
        <input type="number" class="form-control" #deal=ngModel id="floatingPassword" placeholder="Discount" name="deal" [(ngModel)]="product.deal">
        <label for="floatingPassword">Discount %</label>
      </div>
    </div>
    <div class="col">
      <div class="form-floating">
        <input type="number" class="form-control" #available_quantity=ngModel id="floatingPassword" placeholder="Quantity"
          name="availableQuantity" [(ngModel)]="product.available_quantity">
        <label for="floatingPassword">Avaiable Quantity</label>
      </div>
    </div>
  </div>
  <div class="row ">
    <div class="col">
      <select class="form-select form-select mb-4" #category=ngModel aria-label=".form-select-lg example" name="category" [(ngModel)]="product.category">
        <option selected value="null">Select Category</option>
        <option value="mobile">Mobile</option>
        <option value="men">Men</option>
        <option value="women">Women</option>
        <option value="electronics">Electronics</option>
        <option value="shoes">Shoes</option>
        <option value="home">Home</option>
        <option value="appliances">Appliances</option>
      </select>
    </div>
      <div class="col">
        <div class="form-floating">
          <textarea type="text" class="form-control" #description=ngModel placeholder="Enter Product Description" required
            name="description" [(ngModel)]="product.description"></textarea>
          <label for="floatingPassword">Description</label>
        </div>
      </div>
    <div class="col">
        <div class="form-floating">
          <input type="text" class="form-control" #color=ngModel id="floatingPassword" placeholder="Color" name="color" [(ngModel)]="product.color">
          <label for="floatingPassword">Color</label>
        </div>
      </div>
    </div>
    <hr>
    <div style="float:right;">
      <input class="btn btn-primary" type="submit" value="Add Product">
    </div>

  </form>
  <!-- <form #addproductImage="ngForm" (ngSubmit)="upload3()">
    <div class="col">
      <div class="input-group mb-2">
        <input type="file" class="form-control" #productImage=ngModel id="inputGroupFile02" name="productImage" [(ngModel)]="product.productImage">
        <label class="input-group-text" for="inputGroupFile02">Upload</label>
      </div>
    </div>
    </form> -->
    <form  #addProductPic="ngForm" enctype="multipart/form-data" (ngSubmit)="upload3()"  (ngSubmit)="validate3()" >
      <div class=>
      <input type="file" class="form-control"  name="ap" (change)="onFileChange($event)" required #productImage:ngModel/><br/><br/>
  <button type="submit" class="btn btn-primary"  [disabled]=addProductPic.invalid>upload</button>
    </div>  
    </form>
 
 </div>