<div class="card mb-3 shadow-lg p-4 mb-4 bg-body rounded">
  <h5 class="card-title">User Profile</h5>
  <hr>
  <!-- <form #addproduct="ngForm" (ngSubmit)=""> -->
  <div class="row">
    <div class="col">
      <div class="form-floating mb-3">
        <!-- <input type="text" class="form-control" id="floatingInput" placeholder="Product Name"  [(ngModel)]="" name="name"> -->
        <label for="floatingInput">Product Name</label>
      </div>
    </div>
    <div class="col">
      <div class="form-floating">
        <input type="email" class="form-control" id="floatingPassword" placeholder="Brand" name="brand">
        <label for="floatingPassword">Brand</label>
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col">
      <div class="form-floating mb-3">
        <input type="number" class="form-control" id="floatingInput" placeholder="Price" name="price">
        <label for="floatingInput">₹ Price</label>
      </div>
    </div>
    <div class="col">
      <div class="form-floating">
        <input type="number" class="form-control" id="floatingPassword" placeholder="Discount" name="deal">
        <label for="floatingPassword">Discount %</label>
      </div>
    </div>
    <div class="col">
      <div class="form-floating">
        <input type="number" class="form-control" id="floatingPassword" placeholder="Avaiable Quantity"
          name="availableQuantity">
        <label for="floatingPassword">Avaiable Quantity</label>
      </div>
    </div>
  </div>
  <div class="row ">
    <div class="col">
      <div class="input-group mb-3">
        <input type="file" class="form-control" id="inputGroupFile02" name="productImage">
        <label class="input-group-text" for="inputGroupFile02">Upload</label>
      </div>
    </div>
    <div class="col">
      <select class="form-select form-select mb-3" aria-label=".form-select-lg example" name="category">
        <option selected value="null">--Select Category-</option>
        <option value="mobile">Mobile</option>
        <option value="men">Men</option>
        <option value="women">Women</option>
        <option value="electronics">Electronics</option>
        <option value="shoes">Shoes</option>
        <option value="home">Home</option>
        <option value="appliances">Appliances</option>
      </select>
    </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="form-floating">
          <textarea type="text" class="form-control" placeholder="Enter Product Description" required
            name="description"></textarea>
          <label for="floatingPassword">Description</label>
        </div>
      </div>

      <div class="col">
        <div class="form-floating">
          <input type="number" class="form-control" id="floatingPassword" placeholder="Color" name="color">
          <label for="floatingPassword">Color</label>
        </div>
      </div>
    </div>
    <hr>
    <div style="float:right;">
      <input class="btn btn-primary" type="submit" value="Save Changes">
    </div>
 <!-- </form> -->
 </div>

