<div class="container bg shadow-lg mb-5 rounded">
    <div class="row g-0">
        <div class="col-md-5 text-white p-3" style="background: #302b63">
            <h3>Looks like you are new here!</h3>
            <br>
            <h6>Signup to get started.</h6>
            <img src="./assets/images/userSignup.png" class="img-fluid rounded" alt="...">
        </div>
        <div class="col p-5">
            <form #signUpForm="ngForm" (ngSubmit)="userSignup()">
                <div class="row ">
                    <div class="col">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="floatingInput" placeholder="Full Name" required
                                ngModel name="name" #name="ngModel" [(ngModel)]="user.userName">
                            <label for="floatingInput">Full Name</label>
                        </div>
                        <div class="alert alert-danger" *ngIf="(name.dirty || name.touched) && name.invalid">
                            Please enter your name.
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-floating">
                            <select class="form-select" id="floatingSelectGrid"aria-label="Floating label select example" name="gender" required ngModel #gender="ngModel" [(ngModel)]="user.gender">
                                <option selected value="null">--Select Gender-</option>
                                <option value="male">Male </option>
                                <option value="female">Female</option>
                            </select>
                            <label for="floatingSelectGrid">Gender</label>
                        </div>
                    </div>
                    <div class="alert alert-danger" *ngIf="(gender.dirty || gender.touched) && gender.invalid">
                        Please enter Gender.
                    </div>
                </div>
                <div class="row ">
                    <div class="form-floating p-2 mb-3">
                        <input type="text" class="form-control" id="floatingInput" placeholder="Email"[(ngModel)]="user.userEmail" required ngModel name="email" #email="ngModel">
                        <label for="floatingInput">Email</label>
                    </div>
                    <div class="alert alert-danger" *ngIf="(email.dirty || email.touched) && email.invalid">
                        Please enter Email.
                    </div>
                </div>
                <div class="row ">
                    <div class="col">
                        <div class="form-floating mb-3">
                            <input type="password" class="form-control" id="floatingPassword" placeholder="Password"
                                required ngModel name="password" #password="ngModel"
                                pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" [(ngModel)]="user.password">
                            <label for="floatingPassword">Password</label>
                        </div>
                        <div class="alert alert-danger"
                            *ngIf="password.invalid && (password.dirty || password.touched)">
                            <div *ngIf="password.errors?.['required']">Enter password</div>
                            <div *ngIf="password.errors?.['pattern']">Invalid password.(Please ensure that your password
                                must contain at least one number and one uppercase and lowercase letter, and at least 8
                                or more characters )</div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-floating">
                            <input type="number" class="form-control" id="floatingInput" placeholder="Phone No"
                                [(ngModel)]="user.phoneNo" required ngModel name="phoneNo" #phoneNo="ngModel">
                            <label for="floatingInput">Phone No</label>
                        </div>
                        <div class="alert alert-danger" *ngIf="(phoneNo.dirty || phoneNo.touched) && phoneNo.invalid">
                            Please enter phoneNo.
                        </div>
                    </div>

                </div>
                <button type="submit" class="btn p-2 text-white"
                    style="width:100%;font-size:20px; background-color:#ffab00;" name="signup" 
                    
                    ><b>Signup</b></button>
                <b style="width:100%;font-size:15px; color: #0091ea;">Existing User? <a class="btn btn-light p-2"
                        [routerLink]="['/login']"> Log in </a></b>
            </form>
        </div>
    </div>
</div>
<!-- <div class="modal fade" id="example" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Signup Successful</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          {{mesage}}
        </div>
        <div class="modal-footer">
          <a type="button" class="btn btn-primary" data-bs-dismiss="modal"
            [routerLink]="['/login']">Close</a>

        </div>
      </div>
    </div>
  </div> -->
