<div class="container">
    <div class="row"></div>
    <div style="text-align:center">
      <h3>Feel free to contact us.</h3>
    </div>
      <div class="col">
        <div id="map-container-google-1" class="z-depth-1-half map-container" style="height: 470px ; width: 500px;">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3769.9531029406935!2d73.02713121469807!3d19.10971318706853!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c0fa95ff1789%3A0xed94f90522f1346b!2sLTI%20(L%26T%20Infotech)!5e0!3m2!1sen!2sin!4v1659254805310!5m2!1sen!2sin" >
              style="border:0" allowfullscreen></iframe>
          </div>
      </div>
      <div class="col">
        <form action="/action_page.php">
          <label for="fname">First Name</label>
          <input type="text" id="fname" name="firstname" placeholder="FirstName">
          <label for="lname">Last Name</label>
          <input type="text" id="lname" name="lastname" placeholder="LastName">
          <label for="email">Email</label>
          <input type="text" id="email" name="email" placeholder="example@gmail.com">
          <label for="phoneNo">Phone No</label>
          <input type="text" id="phoneNo" name="phoneNo" placeholder="phoneNo">
          <label for="subject">Message</label>
          <textarea id="subject" name="subject" placeholder="Type your Message here." style="height:80px"></textarea>
          <button type="button" class="btn btn-info">Send Message</button>
        </form>
      </div>
    </div>