<div class="card mb-5 shadow-lg p-4 bg-body rounded">
    <h5><b>Manage Addresses</b></h5>
    <div class="container wrapper rounded p-3 cont">
        <div class="row cart-body">
            <form class="form-horizontal" method="post" action="">
                <!--SHIPPING METHOD-->
                <div class="panel panel-info">
                    <div class="panel-heading "><small><b>ADD NEW ADDRESS</b></small></div>
                    <br>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col">
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" id="floatingInput" placeholder="House No"
                                        name="houseNo">
                                    <label for="floatingInput">House No</label>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="floatingPassword"
                                        placeholder="Building" name="building">
                                    <label for="floatingPassword">Building</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" id="floatingInput"
                                        placeholder="City/District/Town" name="city">
                                    <label for="floatingInput">City/District/Town</label>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="floatingPassword"
                                        placeholder="Pincode" name="pinCode">
                                    <label for="floatingPassword">Pincode</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md">
                                <div class="form-floating">
                                  <select class="form-select" id="floatingSelectGrid" aria-label="Floating label select example" name="state">
                                    <option selected value="null">--Select State-</option>
                                    <option value="Andhra Pradesh">Andhra Pradesh</option>
                                    <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                                    <option value="Assam">Assam</option>
                                    <option value="Bihar">Bihar</option>
                                    <option value="Chhattisgarh">Chhattisgarh</option>
                                    <option value="Goa">Goa</option>
                                    <option value="Gujarat">Gujarat</option>
                                    <option value="Haryana">Haryana</option>
                                    <option value="Himachal Pradesh">Himachal Pradesh</option>
                                    <option value="Jharkhand">Jharkhand</option>
                                    <option value="Karnataka">Karnataka</option>
                                    <option value="Kerala">Kerala</option>
                                    <option value="Madhya Pradesh">Madhya Pradesh</option>
                                    <option value="Maharashtra">Maharashtra</option>
                                    <option value="Manipur">Manipur</option>
                                    <option value="Meghalaya">Meghalaya</option>
                                    <option value="Mizoram">Mizoram</option>
                                    <option value="Nagaland">Nagaland</option>
                                    <option value="Odisha">Odisha</option>
                                    <option value="Punjab">Punjab</option>
                                    <option value="Rajasthan">Rajasthan</option>
                                    <option value="Sikkim">Sikkim</option>
                                    <option value="Tamil Nadu">Tamil Nadu</option>
                                    <option value="Telangana">Telangana</option>
                                    <option value="Tripura">Tripura</option>
                                    <option value="Uttarakhand">Uttarakhand</option>
                                    <option value="Uttar Pradesh">Uttar Pradesh</option>
                                    <option value="West Bengal">West Bengal</option>
                                  </select>
                                  <label for="floatingSelectGrid">State</label>
                                </div>
                              </div>
                            <div class="col">
                                <div class="col">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" id="floatingPassword"
                                            placeholder="Country" name="country">
                                        <label for="floatingPassword">Country</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-2">
                                <button type="button" class="btn p-3 btn-primary" style="width:100%;"
                                    name="save">Save</button>
                            </div>
                            <div class="col-2">
                                <button type="button" class="btn p-3 btn-light" style="width:100%;"
                                    name="cancel">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <br>
    <!-- All Addresses -->
    <div class="container rounded p-3 cont">
                <div class="btn-group" style="float: right;">
                    <button class="btn " type="button" id="dropdownMenuButton" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <img src="https://img.icons8.com/tiny-glyph/16/000000/experimental-menu-2-tiny-glyph.png" />
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <li><a class="dropdown-item" href="#">Edit</a></li>
                        <li><a class="dropdown-item" href="#">Delete</a></li>
                    </ul>
                </div>
     <h6>
        004/B, Abhijit Appartment , old Prabhadevi road , mumbai 400025, NEAR VIP HOUSE, Mumbai, Maharashtra - 400025
     </h6>
    </div>
</div>


<!--  -->