
<!-- Carousel -->
<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="4" aria-label="Slide 5"></button>
    </div>
  
    <div class="carousel-inner shadow p-3 mb-5 bg-body rounded">
      <div class="carousel-item active">
        <img src="./assets/images/sliderImages/image1.png"  class="d-block w-100" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"/>
      </div>
      <div class="carousel-item">
        <img src="./assets/images/sliderImages/image2.png" class="d-block w-100" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
      </div>
      <div class="carousel-item">
        <img src="./assets/images/sliderImages/image3.png" class="d-block w-100" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
      </div>
      <div class="carousel-item">
        <img src="./assets/images/sliderImages/image4.png" class="d-block w-100" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
      </div>
      <div class="carousel-item">
        <img src="./assets/images/sliderImages/image5.png" class="d-block w-100" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <!-- End of carousel -->

  <!-- Recommendations -->
  <div class="card mb-3 shadow-lg p-3 bg-body rounded" style="height:auto; ">
    <h4>Recommended Items</h4> 
        <div class="position-absolute top-0 end-0 p-3">
        <button class="btn btn-primary p-2" type="submit" >
            VIEW ALL
        </button>
    </div>
    <hr style="color:grey;">
    <div class="row">
        <div class="col">
            <div class="card p-3 mb-5 bg-white rounded my-lst">
                <div class="position-absolute top-0 end-0 p-1">
                    <button class="btn" type="submit" >
                        <img src="https://img.icons8.com/ios-filled/24/b0bec5/like--v1.png"/>
                    </button>
                </div>
                <div class="row d-flex justify-content-center">  
                        <img src="./assets/images/HomeProducts/samsung.png" class="img-fluid" alt="..."
                        style="width:150px;height:200px;">
                </div>
                <div class="row">
                    <h5>SAMSUNG </h5>
                </div>
                <div class="row">
                    <h5>SAMSUNG Galaxy F22 (Denim Blue, 128 GB) (6 GB RAM)</h5>
                </div>
                <div class="row">
                    <h5>₹ 12,000
                        <!-- discountedPrice-->
                        <span class="text-muted " style="font-size: 15px;"><s>₹ 15,000</s>
                            <!--price-->
                        </span>
                        <span style="font-size:15px;color: green;"> 23% Off
                            <!--deal-->
                        </span>
                    </h5>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card p-3 mb-5 bg-white rounded my-lst">
                <div class="position-absolute top-0 end-0 p-1">
                    <button class="btn" type="submit" >
                        <img src="https://img.icons8.com/ios-filled/24/b0bec5/like--v1.png"/>
                    </button>
                </div>
                <div class="row d-flex justify-content-center">
                    <img src="./assets/images/HomeProducts/samsung.png" class="img-fluid" alt="..."
                        style="width:150px;height:200px;">
                </div>
                <div class="row">
                    <h5>SAMSUNG </h5>
                </div>
                <div class="row">
                    <h5>SAMSUNG Galaxy F22 (Denim Blue, 128 GB) (6 GB RAM)</h5>
                </div>
                <div class="row">
                    <h5>₹ 12,000
                        <!-- discountedPrice-->
                        <span class="text-muted " style="font-size: 15px;"><s>₹ 15,000</s>
                            <!--price-->
                        </span>
                        <span style="font-size:15px;color: green;"> 23% Off
                            <!--deal-->
                        </span>
                    </h5>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card p-3 mb-5 bg-white rounded my-lst">
                <div class="position-absolute top-0 end-0 p-1">
                    <button class="btn" type="submit" >
                        <img src="https://img.icons8.com/ios-filled/24/b0bec5/like--v1.png"/>
                    </button>
                </div>
                <div class="row d-flex justify-content-center">
                    <img src="./assets/images/HomeProducts/samsung.png" class="img-fluid" alt="..."
                        style="width:150px;height:200px;">
                </div>
                <div class="row">
                    <h5>SAMSUNG </h5>
                </div>
                <div class="row">
                    <h5>SAMSUNG Galaxy F22 (Denim Blue, 128 GB) (6 GB RAM)</h5>
                </div>
                <div class="row">
                    <h5>₹ 12,000
                        <!-- discountedPrice-->
                        <span class="text-muted " style="font-size: 15px;"><s>₹ 15,000</s>
                            <!--price-->
                        </span>
                        <span style="font-size:15px;color: green;"> 23% Off
                            <!--deal-->
                        </span>
                    </h5>
                </div>
            </div>
        </div>
        <div class="col">
          <div class="card p-3 mb-5 bg-white rounded my-lst">
              <div class="position-absolute top-0 end-0 p-1">
                  <button class="btn" type="submit" >
                      <img src="https://img.icons8.com/ios-filled/24/b0bec5/like--v1.png"/>
                  </button>
              </div>
              <div class="row d-flex justify-content-center">
                  <img src="./assets/images/HomeProducts/samsung.png" class="img-fluid" alt="..."
                      style="width:150px;height:200px;">
              </div>
              <div class="row">
                  <h5>SAMSUNG </h5>
              </div>
              <div class="row">
                  <h5>SAMSUNG Galaxy F22 (Denim Blue, 128 GB) (6 GB RAM)</h5>
              </div>
              <div class="row">
                  <h5>₹ 12,000
                      <!-- discountedPrice-->
                      <span class="text-muted " style="font-size: 15px;"><s>₹ 15,000</s>
                          <!--price-->
                      </span>
                      <span style="font-size:15px;color: green;"> 23% Off
                          <!--deal-->
                      </span>
                  </h5>
              </div>
          </div>
      </div>
    </div>
</div>
<!-- Recommendations - end -->
  
  
  
   
     