
<div class="container p-3">
    <form class="d-flex">
        <input class="form-control form-control-lg me-2" type="text" placeholder="Search">
        <button class="btn btn-primary" type="button">Search</button>
    </form>
    <br>
    <div class="card p-3 mb-5 bg-white rounded my-lst" *ngFor="let p of prod">
        <div class="row">
            <div class="col col-lg-2">
                <img src="http://localhost:9090/downloads/{{p.productImage}}" class="img-fluid" alt="..."
                    style="width:100px;height:100px;"> <!--productImage-->
            </div>
            <div class="col-3"><!-- query-->
                
                <h6 >{{p.productName}}</h6>
                <!--productName -->
                <small>{{p.brand}}</small> <!--brand-->
            </div>
            <div class="col">
                <h6>₹{{p.amount}}</h6> <!-- discountedPrice-->
            </div>
            <div class="col">
                <h6>Order placed on {{p.vieworderDate}}</h6>
                <!--orderDate+4 -->
                <small>Your Item is on the way.</small> <!--orderStatus-->
            </div>
        </div>
    </div>
</div>

