
<div class="container p-3">
    <form class="d-flex">
        <input class="form-control form-control-lg me-2" type="text" placeholder="Search">
        <button class="btn btn-primary" type="button">Search</button>
    </form>
    <br>
    <div class="card p-3 mb-5 bg-white rounded my-lst">
        <div class="row">
            <div class="col col-lg-2">
                <img src="./assets/images/HomeProducts/samsung.png" class="img-fluid" alt="..."
                    style="width:100px;height:100px;"> <!--productImage-->
            </div>
            <div class="col-3"><!-- query-->
                
                <h6 > Samsung Mobile</h6>
                <!--productName -->
                <small>Samsung</small> <!--brand-->
            </div>
            <div class="col">
                <h6>₹ 12,000</h6> <!-- discountedPrice-->
            </div>
            <div class="col">
                <h6>Delivered on 21 June</h6>
                <!--orderDate+4 -->
                <small>Your Item has been delivered.</small> <!--orderStatus-->
            </div>
        </div>
    </div>
</div>

